/*стили для комнат при наведении*/
[id^="room-"]:hover polygon, #hover {
	fill: #255e36;
}
[id^="room-"]:hover polygon:last-of-type, #hover {
	fill: #48b148;
}

/*отключаем курсор на тексте комнат*/
[id^="Текст"] * {
   pointer-events: none;
}

/*стили для нажатых комнат*/
.active polygon{
   fill: purple !important;
}
.active polygon:last-of-type {
   fill: magenta !important;
}

/*-----------------временная свалка-----------------*/
/*стили для контейнера с самой картой*/
.svgconteiner {
   width: 100%;
   height: auto;
}

/*стили для блока с информацией*/
#discription {
   background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    pointer-events: auto;
    padding: 16px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#discription h4 {
   font-family: Roboto, Tahoma, Helvetica, sans-serif;
   font-size: 16px;
   margin: 0;
   color: #333;
   font-weight: bold;
   margin-bottom: 15px;
}

#discription p {
   font-family: Roboto, Tahoma, Helvetica, sans-serif;
   font-size: 13px;
   margin: 0;
   color: #333;
}