[id^="room-"]:hover polygon, #hover {
	fill: #255e36;
}

[id^="room-"]:hover polygon:last-of-type, #hover {
	fill: #48b148;
}

.scheme polygon.active {
	fill: #FF8C0B !important;
}

[id^="Текст"] * {
   pointer-events: none;
 }