/*стили для контейнера с самой картой*/
.svgConteiner {
   width: 100%;
   height: 100%;
   max-height: 500px;
   display: flex;
   justify-content: center;
   transition: 0.1s;
   overflow: hidden;
}
.mapContainer {
   width: 1100px;
   height: 500px;
   position: relative;
   overflow: hidden;
   margin: auto;
   border: 2px solid black;
   box-sizing: border-box;
}

/*стили для комнат при наведении*/
[id^="room-"]:hover polygon {
	filter: brightness(1.15);
   cursor: pointer;
}

/*отключаем курсор на тексте комнат*/
[id^="Текст"] * {
   pointer-events: none;
}

/*стили для нажатых комнат*/
.active polygon{
   filter: brightness(0.8) hue-rotate(90deg) !important;
}

/*стили для блока с информацией*/
#description {
   background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    pointer-events: auto;
    padding: 16px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
}
#description.disabled{
   display: none !important;
}
#description h4 {
   font-family: Roboto, Tahoma, Helvetica, sans-serif;
   font-size: 16px;
   margin: 0;
   color: #333;
   font-weight: bold;
   margin-bottom: 15px;
}
#description p {
   font-family: Roboto, Tahoma, Helvetica, sans-serif;
   font-size: 13px;
   margin: 0;
   color: #333;
}

/*стили для кнопок + и -, включенных и отключенных*/
#floorIncrease, #floorReduce {
   cursor: pointer;
}
#floorIncrease.disabled, #floorReduce.disabled {
   pointer-events: none;
   opacity: 0.5;
}

/*стили блока с подсказками для поиска*/
#searchResultBlock {
   width: 60%;
   margin: auto;
   height: 200px;
   background-color: yellow;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   overflow-y: auto;
}

.searchResultBlock_item {
   width: 100%;
   min-height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
   box-sizing: border-box;
   color: black;
   border: 3px solid green;
   background-color: lightblue;
   cursor: pointer;
}

.searchResultBlock_item h5, .searchResultBlock_item p {
   pointer-events: none;
}

/*-----------------временная свалка-----------------*/

/*стили для блока с категориями и элементов списка*/
.categoriesBlock {
   height: auto;
   width: 60%;
   min-height: 50px;
   background-color: orange;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border: 2px solid red;
   box-sizing: border-box;
}

.categoriesChoosen {
   width: 100%;
   height: 50px;
   border-bottom: 2px solid red;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
}

#categoriesChoosen_item{
   height: 40px;
   width: 500px;
   background-color: #fff;
   border-radius: 20px;
   border: 2px solid black;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#categoriesChoosen_item.disabled {
   display: none;
}

#categoriesChoosen_item_text {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#categoriesChoosen_item_text p {
   margin: 0;
   width: 300px;
}
#categoriesChoosen_item_text h5 {
   margin: 0 30px 0 10px;
}

#categoriesChoosen_item_button {
   margin-right: 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

