@font-face {
   font-family: "ALS Sector Bold";
   src: url("../font/ALS_Sector-Bold.woff");
 }

@font-face {
   font-family: "ALS Sector Regular";
   src: url("../font/ALS_Sector-Regular.woff");
 }

.header {
   width: 100%;
   height: 9.15%;
   min-height: 62px;
   background-color: #fff;
   padding: 10px;
   box-sizing: border-box;
   z-index: 1000;
   box-shadow: 0px 2px 6px 0px rgba(176, 176, 176, 0.2);
}

.header_wrapper {
   width: 100%;
   height: 100%;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.header_wrapper h2 {
   font:  bold 18px/1.2em 'ALS Sector Bold';
   margin-bottom: 2px;
}

.header_wrapper h3 {
   font: normal 14px/1.3 'ALS Sector Regular';
}

.header_wrapper h2, .header_wrapper h3 {
   margin: 0;
   display: flex;
   align-items: center;
}